<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<header>
    <span>
        <p>METATIVA</p>
        <img src="/painel/templates/index/img/Imagem1.svg" alt="">
    </span>
</header>    
<body>
    <div class="main">
        <div class="formulario">
            <div class="pg">
                <form class="form">
                    <!--Nome do cliente-->
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome"><br>
                    <!--Nome do usuario-->
                    <label for="user">Nome do seu usuário</label>
                    <input type="text" name="user" id="user"><br>
                    <!--Nome do usuario-->
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="user"><br>
                    <!--Nome do email do cliente-->
                    <label for="email"> E-mail</label>
                    <input type="email" name="" id="email"><br>
                    <button type="submit">Cadastrar</button>
                    <a href="/painel/templates/index/index.html">Já tem uma conta?</a>
                </form>
            </div>
        </div>
    </div>            
</body>
</html>