<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>
<header>
    <span>
        <p>METATIVA</p>
        <img src="/painel/templates/index/img/Imagem1.svg" alt="">
    </span>
</header>    
<body>
    <div class="main">
        <div class="formulario">
            <div class="pg">
                <form action="{% url 'createuser' %}" method='POST'>
                    {% csrf_token %}
                    
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome"><br>

                    <label for="user">Nome do seu usuário</label>
                    <input type="text" name="user" id="user"><br>
                    
                    <label for="senha">Senha</label>
                    <input type="password" name="password" id="password"><br>
                    
                    <label for="email"> E-mail</label>
                    <input type="text" name="email" id="email"><br>
                    
                    <label for="sexo"> Sexo</label>
                    <select name="sexo">
                        {% for cad_sexo in cad_sexo %}
                        <option value="{{cad_sexo.description}}">{{cad_sexo.description}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">Cadastrar</button>
                </form>
            </div>
            <ul>
                {% for clientess in clientess %}
                <li>
                    {{clientess.firstname}} - {{clientess.id}}
                </li>
                {% endfor %}
            </ul>     
        </div>
    </div>            
</body>
</html>