<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de controle geral</title>
</head>
{% include 'modelo-css/modelo.html' %}
<style>
    html, body{
        background-color: black;
        color: white;
    }
    a{
        text-decoration: none;
        color:red;
    }
</style>
<body>
    <h1>Tela de edição</h1>
    <p><a href="/">back to menu</a></p>
    <p>Cadastro de sexo</p>
    <form action="{% url 'cadastrosex' %}" method="POST">
        {% csrf_token %}        
        <label for="nome">Descrição</label>
        <input type="text" name="nome">
        <button type="submit">Salvar</button>
    <hr>
    <h2>Editar cadastro sexo</h2>
    
        <table border="solid">
        <th>ID</th>
        <th>Descrição</th>
        <th>Delete</th>
        {% for cad_sexo in cad_sexo %}
        <tr>
        <td>{{ cad_sexo.id }}</td>
        <td>{{ cad_sexo.descricao }}</td>
        <td><a href="{% url 'dellsex' cad_sexo.id %}">Deletar</a></td>
        </tr>
        {% endfor %}
    </table>      
    <hr>
    <h2>Editar cadastro cliente</h2>
    <table border="solid">
        <th>id</th>
        <th>nome</th>
        <th>email</th>
        <th>Delete</th>
        {% for cad_cliente in cad_cliente %}
        <th>
            <tr>
                <td>{{ cad_cliente.id }}</td>
                <td>{{ cad_cliente.nome }}</td>
                <td>{{ cad_cliente.email}}</td>
                <td><a href="{% url 'dellcliente' cad_cliente.id %}">Delete</a></td>
            </tr>
        </th>
        {% endfor %}
    </table>     
    <hr>
    <h2>
        Editar Usuarios
    </h2>
    <table border="solid">
        <th>id</th>
        <th>user</th>
        <th>id_cliente</th>
        <th>Delete</th>
        {% for cad_users in cad_users %}
        <th>
            <tr>
                <td>{{ cad_users.id }}</td>
                <td>{{ cad_users.user }}</td>
                <td>{{ cad_users.id_cliente}}</td>
                <td><a href="{% url 'dellusers' cad_users.id %}">Delete</a></td>
            </tr>
        </th>
        {% endfor %}
    </table>
</body>
</html>