<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altera cadastro cad_sexo </title>
</head>
<body>
    <h1>Editar cad_sexo</h1>
    <ul>
        {% for cad_sexo in cad_sexo %}
        <li>
            {{cad_sexo.description}} - {{cad_sexo.id}} <a href="{% url 'admin' cad_sexo.id %}">Editar</a>
        </li>
        {% endfor %}
    </ul>       
</body>
</html>