<style>
header{
    height: 100%;
    display: flex;
    width: 100%;
    color: white;
    font-size: 45px;
}
span{
    display: flex;
    width: 50vh;
    width: fit-content;
}
.img_principal{
    width: fit-content;
    margin: auto 0;
}

body{
    background-color: #150326;
}
.main{
    background-color: #150326;
    width: 80vh;
    min-height: 100vh;
    text-align: center;
    color: white;
    padding: 0;
    margin: auto;
}
.formulario{
    width: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}
.formulario > img{
    position: absolute;
    padding-left: 50vh;
}
.form{
    display: inline;
    background-color: hwb(88 0% 0% / 0);
    height: auto;
}

label{
    margin-left: 2vh;
    display: flex;
    height: auto;
    font-size: medium;
    margin-top: 3vh;
    z-index: -1;
}
input, select   {
    width: 90%;
    background-color: #150326;
    border-radius: 12px;
    height: 35px;
    border: none;
    z-index: +1;
    color: white;
    padding-left: 10px;
    outline: none;

}
.pg{
    justify-content: center;
    align-items: center;    
    width: 40vh;
    height: 35%;
    padding: 0;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    color: black;
}
button{
    background-color:#5114A6;
    color: white;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    margin: 12px 12px;
    margin-top: 4vh;
}
</style>
